$primary-black: #0b0f17;
$primary-grey: #1f283d;
$primary-red: #ff6476;
$primary-blue: #84d7e9;
$gradient-grey:#0d1c2d;
$heading-font: "Barlow Condensed";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Poppins:wght@400;600&display=swap';
.home-layout{
    font-family: "poppins";
    margin-top: 0;
    padding: 50px 20px;
    background: rgb(11,15,23);
    background: linear-gradient(0deg, $primary-black 65%, $gradient-grey 100%);
}
footer{
    padding: 0 20px;
    background: rgb(11,15,23);
    background: linear-gradient(180deg, $primary-black 0%, $gradient-grey 100%);
}
.logo {
    width: 50px;
}
.spin-image{}
  
  @media (prefers-reduced-motion: no-preference) {
    .spin-image {
      animation: spin-image infinite 20s linear;
    }
  }
  @keyframes spin-image {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.active-nav{
    font-weight: 700;
    color: white;
}
.arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #bfbfbf;
    border-left: 2px solid #bfbfbf;
    transition: all 250ms ease-in-out;
    margin-left: 10px;
  }
  
  .arrow:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    transform: rotate(45deg);
  }
.arrow.down {
    transform: rotate(-135deg);
    right: 175px;
  }
.contact-us{
    background-color: $primary-blue;
    min-width: 250px;
    height: 70px;
}
.color-blue{
    color: $primary-blue;
}
.main-heading{
    font-family:'Barlow Condensed';
    font-size:200px;
    font-weight: bolder;
    line-height: 0.9;
}

.capsule-image-xl{
    border-radius: 170px;
    width: 330px;
    height: 630px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.577);
}
.content-section-gap{
    margin-top: 100px;
}
.capsule-div{
    border-radius: 100px;
    width: 44px;
    height: 120px;
    background: rgb(11,15,23);
    background: linear-gradient(0deg, #3a3c40 2%, #0d1c2d 100%);
    img{
        filter: invert(50%);
    }

}
.grid-image{
    height: 285px;
    border-radius: 60px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: flex-start;
    background-size: cover;
    background-position: center
}
.grid-image-capsule{
    @extend .grid-image;
    border-radius: 150px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.577);
}
.top-row{
    @extend .grid-image;
    height: 475px;
}
.bg-car{
    background-image: url("../assets/car.jpg");
}
.bg-cabin{
    background-image: url("../assets/cabin.jpg");
}
.bg-med{
    background-image: url("../assets/medicines.jpg");
}
.bg-home{
    background-image: url("../assets/home-interior.jpg");
}
.bg-tube{
    background-image: url("../assets/water-safety-tube.jpeg");
}
.bg-primary-red{
background-color: $primary-red;
}
.grid-image-btn{
    background-color: $primary-black;
    padding: 28px 32px;
    margin: 20px;
    border-radius: 50px;
    color:white;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.best-choice-card{
    background-color: #0e1d31;
    border-radius: 60px;
}
.best-choice-text{
    font-family: $heading-font;
    font-size:80px;
    font-weight: 700;
    line-height: 0.9;
}
.heading-font-family{
    font-family: $heading-font;
}
.expert-says-text{
    @extend .best-choice-text;
    max-width: 200px;
    
}
.best-choice-btn{
    background-color: $primary-red;
    border-radius: 50px;
    color:black;
    font-weight: 600;
    font-size: 20px;
    height: 70px;
}
.carousal-items-container{
    background-color: $primary-grey;
    border-radius: 100px;
    padding: 60px 80px;
    // padding-right:100px;
    // height: 600px;
}
.expert-img{
    height: 500px;
    width: 250px;
}
.flip-img{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.footer-small-text{
    color:#797b82;
    margin-right: 12px;
}
.footer-small-text:hover{
    color: whitesmoke;
}
.support-section{
    h2{
        line-height: 0.9;
        span{
            font-size: 170px;
            line-height: 0.7;
        }
    }
}
.max-width-top-header{
    max-width: 230px;
}
.slick-dots {
    bottom: -3rem !important;
    li {
    button {
        background-color: #2c4551 !important;
        width: 1rem !important;
        height: 1rem !important;
        border-radius: 50%;
        &:before {
        display: none !important;
    }}
    &.slick-active {
        button {
            background-color: #fff !important;}
    }
}}